# File Suffixes
*.pth

# Directories
Datasets/
result/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Any images generated
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.bmp
*.tif
*.tiff

# Any videos generated
*.avi
*.mp4
*.mov
*.wmv
*.mkv
*.MOV

# Anything inside of a directory called "dataset"
dataset/
datasets/
checkpoints/